body {
  background-color: rgba(0,0,0,0.8);
  font-family: Arial, sans-serif;
  padding:0;
  margin:0;
  color: white;
}
.date{
  font-family: Pacifico, sans-serif;
  font-size: 30px;
  color:rgba(255,255,255,0.5);
  margin-top: 0;
}
.apparentTemp{
  font-size:200px;
  margin-top:0;
  margin-bottom:0;
}
.fareinheit{
  font-size:100px;
  position:relative;
  top:-50px;
}
nav {
  display:inline-block;
  padding:0;
  margin-top:10px;
  width:100%;
  top:0;
  font-family: 'lato', sans-serif;
}
nav ul{
  float:left;
  text-align: center;
  padding:0;
  margin:25px;
}
nav ul li{
  display:inline-block;
  padding:0;
  margin:0 25px;
}
nav li a {
    color: #a6a6a6;
    font-weight:700;
    text-decoration: none;
}
nav li a:hover {
    color:white;
}
a.nav-active {
    color:white;
}
.background-image {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  width:100%;
  height:100%;
  opacity: 0.5;
}
.inputField {
  height:35px;
  width:200px;
  padding-left:10px;
  background-color: rgba(0,0,0,0.3);
  border:none;
  color:white;
  border-radius: 30px;
  position:relative;
  top:-15px;
}
.button:hover{
  cursor:pointer;
}
.search-icon{
  width:26px;
}
.button {
  font-family: arial, sans-serif;
  border:none;
  padding:8px;
  height:40px;
  width:40px;
  color:white;
  background-color:transparent;
  background-repeat:no-repeat;
  background-size:100%;
  opacity: 0%;
  position: relative;
  top:-10px;
}
#locationDiv{
  float:left;
  margin:10px;
  font-size:30px;
  color: #a6a6a6;
}
#dailyTable{
  text-align: left;
}
#dailyTable th, td{
  padding:10px;
}
.column1{
  width:200px;
}
section{
  width:500px;
  margin:0 auto;
  text-align: center;
}
nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:-3px;
    -webkit-transition-property: margin-top;
    transition-duration:  0.5s;
    background-color:rgba(0,0,0,0.4);
    height:55px;
}

.input {
  margin:15px 20px;
  padding:0;
  display: inline-block;
  float:right;
}

.break{
  clear:both;
}
#currently, #daily, #hourly, #minutely{
  text-align:center;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:60px;
  width:60%;
}
