body {
  background-color:white;
}
#weatherDiv{
  margin: 0 auto;
}

#currently, #daily, #hourly{
  display:inline-block;
  float:left;
  border: 1px solid black;
  text-align:center;
  width:300px;
  height:400px;
}

img {
  width:150px;
}
